# ─── Bot Configuration ──────
BOT_NAME=BIGST4CK
BOT_VERSION=3.0.5
PREFIX=.
MODE=public

# ─── Owner Information ─────
OWNER_NUMBER=255777580820
OWNER_NAME=bigmanjtech

# ── Catbox Upload(url.js)─────
CATBOX_USERHASH=dc6592b4d2e0c3439d381a762

# ─── API Keys ─────────
GIPHY_API_KEY=qnl7ssQChTdPjsKta2Ax2LMaGXz303tq

# ─── ACRCloud (for music recognition)─────────
ACR_HOST=identify-eu-west-1.acrcloud.com
ACR_ACCESS_KEY=250b268b836bc2186fbf49c9a31f904d
ACR_ACCESS_SECRET=2nArZpgRhyRoFCZuYMnlhqixwuSjei4QE14vMhkg

# ─ Telegram Bridge (optional) ────
TELEGRAM_BOT_TOKEN=8363363748:AAFG7nwJL3B5LSo487Fap33F55_O6AnXKrs
TELEGRAM_OWNER_ID=8188446621
TELEGRAM_PAIR_CODE=MICKDADY

# ─── Session ──────
SESSION_ID=bigst4ck_session

# ─── Pairing ──────
PAIRING_CODE=true
CUSTOM_PAIRING_CODE=BIGTECHS

# ─── Logging ───────
LOG_LEVEL=warn

# ─── Server ───────
PORT=3000

# ─── Database ──────
DB_PATH=./data/database.json